<ion-view view-title="Welcome {{user}}" hide-back-button="true">
<ion-nav-buttons side="right">
        <button class="button" ng-click="logout()">
        	{{button}}
        </button>
    </ion-nav-buttons>
    <ion-content>
      <!-- <div> -->
        <form>
        <!-- <div id="ok" class = "list"> -->
          <label class = "item item-input">   
             <input id="pac-input" class="controls" type = "text" placeholder = "Search" ng-focus="disableTap()"/>
          </label>
          <input type="radio" name="search" id="locationButton" checked> Location         
          <input type="radio" name="search" id="commentButton" > Comment<br>
      </form>
        <div id="map" data-ng-init="initMap()"></div>
      <!-- </div> -->
    </ion-content>

<div class = "bar bar-footer bar-assertive">
          <button class = "button icon ion-star" ng-click="showRating()"></button>
          <button class = "button icon ion-edit placeholder-icon" ng-click="saveComments()"></button>
      </div>

</ion-view>